<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{user.first_name}} {{user.last_name}}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="nav-link active" aria-current="page"  href="/vote/homePage">Home</a>
        <a class="nav-link active" aria-current="page"   href="/vote/profile">Profile</a>
        <a class="nav-link active" aria-current="page"   href="/vote/logout">Logout</a>
      </div>  
    </nav>
    <div class="card" style="width: 50rem;position:absolute; top:70px; left:300px;z-index:1">
      <div class="card-header">
        <h1 >{{user.first_name}} {{user.last_name}}</h1>
      </div>
      <div class="card-body">
  <h3>{{bio}}</h3>
      </div>
      <div class="card-footer bg-transparent border-success">
   <a class="btn btn-primary mb-3"  role="button" href={% url 'voteCandidate' user.username %}> {{vote_or_change_vote}}</a>
  <h3 > Number of Votes {{votes}}</h3>
      </div>
      </div>
    </div>
    </div>
  </body>
</html>