<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="nav-link active" aria-current="page"  href="/vote/homePage">Home</a>
      <a class="nav-link active" aria-current="page"   href="/vote/profile">Profile</a>
      <a class="nav-link active" aria-current="page"   href="/vote/logout">Logout</a>
    </div>
  </nav>
  <div class="card" style="width: 18rem;position:absolute; top:70px; left:100px;z-index:1">
    <div class="card-header">
      <h1> Candidates</h1>
    </div>
    <div class="card-body">
      <ul class="list-group">
      {% for i in candidates_list %}
      <li class="list-group-item"><a href={% url "candidate/profile" i.candidate.username %}>{{i.candidate.first_name}}
          {{i.candidate.last_name}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="card" style="width: 24rem;position:absolute; top:70px; left:400px;z-index:1">
    <div class="card-header">
      <h1>Top Candidates</h1>
    </div>  
    <div class="card-body">
      <ul class="list-group">
      {% for i in top_list %}
      <li class="list-group-item"><a href={% url "candidate/profile" i.candidate.username %}>{{i.candidate.first_name}}
          {{i.candidate.last_name}} number of votes: {{i.num_votes}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</body>

</html>